







/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffd700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    font-family: "Times New Roman", serif;
    box-sizing: border-box;
  }



/* Menú de navegación */
.header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }
  
  .header nav a:hover {
    color: #ffd700;
  }




  /* General para toda la página */
body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    color: #ffffff;
    background: #9d9d9d;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 50px; /* Espacio general inferior de la página */
}





/* Sección del formulario */
.contact-form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 30px;
    border-radius: 15px;
    max-width: 700px;
    margin: 50px auto; /* Mantén espacio superior e inferior */
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid #ffd700;
    margin-bottom: 100px; /* Añadido espacio inferior */
}
  
  .contact-form h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  }
  
  .contact-form p {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-bottom: 30px;
  }
  
  /* Campos del formulario */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 1.2em;
    color: #ffd700;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ffd700;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #ffd700;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
    outline: none;
  }
  
 /* Botón de envío */
.submit-button {
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px; /* Añade espacio entre el botón y el borde inferior */
}
  .submit-button:hover {
    background-color: #ffe066;
    transform: translateY(-3px);
  }
  